._06_BOXE_01 {
  margin-top: 2.375rem;
  padding: 16px 16px 24px 16px;
  border: 2px solid $seg_mat_cor1;

  &:first-child {
    margin-top: 0;
  }

  &._mat_su_tec {
    border: 2px solid $seg_mat_cor1;
  }

  &._cie_hu_su_tec {
    border: 2px solid $seg_nat_cor1;
  }

  &._lin_su_tec {
    border: 2px solid $seg_lin_cor1;
  }

  &._cie_hu_so_api {
    border: 2px solid $seg_hum_cor1;
  }
}