.css_07_secao_no_enem_e_assim {
    height: 44px;
    background: #BD8432;
    margin-top: 32px;
    margin-bottom: 32px;
    line-height: 44px;
    padding: 0 47px;
    font-family: $fonteNova;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    &:before {
        content: '';
        width: 20px;
        height: 20px;
        background-color: #F7A941;
        position: absolute;
        border: 3px solid #fff;
        left: 10px;
        top: 8px;
    }

    &.artes {
        background-color: #84A214;

        &:before {
            background-color: #c8d300;
        }
    }
    &.biologia {
        background-color: #BD8432;

        &:before {
            background-color: #f7a941;
        }
    }
    &.filosofia {
        background-color: #208F6D;

        &:before {
            background-color: #8ccaae;
        }
    }
    &.fisica {
        background-color: #BD8432;

        &:before {
            background-color: #f7a941;
        }
    }
    &.geografia {
        background-color: #208F6D;

        &:before {
            background-color: #8ccaae;
        }
    }
    &.historia {
        background-color: #208F6D;

        &:before {
            background-color: #8ccaae;
        }
    }
    &.lingua_inglesa {
        background-color: #84A214;

        &:before {
            background-color: #c8d300;
        }
    }
    &.lingua_portuguesa {
        background-color: #84A214;

        &:before {
            background-color: #c8d300;
        }
    }
    &.matematica {
        background-color: #C09100;

        &:before {
            background-color: #f1cb40;
        }
    }
    &.producao_de_texto {
        background-color: #84A214;

        &:before {
            background-color: #c8d300;
        }
    }    
    &.quimica {
        background-color: #C09100;

        &:before {
            background-color: #f1cb40;
        }
    }    
    &.sociologia {
        background-color: #208F6D;

        &:before {
            background-color: #8ccaae;
        }
    }
}