.css_01_titulo4 {

  /* Características do texto */
  font-family: $fonteNova;
  font-weight: 600;
  font-size:20px;
  color: #000;

  /* Características do componente */
  display: block;
  position: relative;
  margin-top: 15px;
  margin-bottom: 0px;
  line-height: 1.5em;

}