.css_06_boxe_competencias {

  /* Características do componente */
  display: -webkit-box;
  margin-left: -10px;

  .icone {
    background-image: url("https://livro-digital-development.p4ed.com/assets/icons/lumen/01_titulo1.svg");
    width: 28px;
    height: 35px;
    align-items: center;
    margin-top: 15px;
    background-repeat: no-repeat;
  }

  .texto {
    display: block;
    color: $textColor;
    font-family: $fontPrincipal;
    font-weight: 400;
    line-height: 1.5em;
    font-size: 18px;
    margin-top: 15px;
  }

  /* Variações de cores */
  &.artes {
    .icone {
      background-image: url("https://livro-digital-development.p4ed.com/assets/icons/lumen/01_titulo1.svg");
    }

  }

  &.biologia {
    .icone {
      background-image: url("https://livro-digital-development.p4ed.com/assets/icons/lumen/01_titulo1_bio.svg");
    }

  }

  &.quimica {
    .icone {
      background-image: url("https://livro-digital-development.p4ed.com/assets/icons/lumen/01_titulo1_bio.svg");
    }

  }

  &.fisica {
    .icone {
      background-image: url("https://livro-digital-development.p4ed.com/assets/icons/lumen/01_titulo1_bio.svg");
    }

  }


  &.geografia {
    .icone {
      background-image: url("https://livro-digital-development.p4ed.com/assets/icons/lumen/01_titulo1_fil.svg");
    }
  }


  &.historia {
    .icone {
      background-image: url("https://livro-digital-development.p4ed.com/assets/icons/lumen/01_titulo1_fil.svg");
    }
  }


  &.sociologia {
    .icone {
      background-image: url("https://livro-digital-development.p4ed.com/assets/icons/lumen/01_titulo1_fil.svg");
    }
  }


  &.lingua_inglesa {
    .icone {
      background-image: url("https://livro-digital-development.p4ed.com/assets/icons/lumen/01_titulo1.svg");
    }

  }

  &.lingua_portuguesa {
    .icone {
      background-image: url("https://livro-digital-development.p4ed.com/assets/icons/lumen/01_titulo1.svg");
    }

  }

  &.producao_de_texto {
    .icone {
      background-image: url("https://livro-digital-development.p4ed.com/assets/icons/lumen/01_titulo1.svg");
    }

  }
  &.filosofia {
    .icone {
      background-image: url("https://livro-digital-development.p4ed.com/assets/icons/lumen/01_titulo1_fil.svg");
    }
  }

  &.matematica {
    .icone {
      background-image: url("https://livro-digital-development.p4ed.com/assets/icons/lumen/01_titulo1_mat.svg");
    }
  }

}