.css_07_secao_texto_e_contexto {
  background-color: #F7F9D9;
  min-height: 100px;
  position: relative;
  padding: 38px 16px 16px 16px;
  margin-top: 52px;
  margin-bottom: 32px;
  box-sizing: border-box;

  .tag {
    width: auto;
    height: 44px;
    background-color: #C51A1B;
    position: absolute;
    left: 0%;
    top: -22px;
    padding: 0 16px;
    color: #fff;
    font-size: 20px;
    line-height: 42px;
    font-family: $fonteNova;
    font-weight: 700;
  }
}