.css_01_titulo_cap_num {
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  background-color: orange;
  padding: 8px 8px;
  width: 85px;
  font-size: 14px;
  position: absolute;
  z-index: 999;
  margin-left: 80px;
  max-height: 135px;
  margin-top: 40px;
  .cap-texto {
    font-family: $fonteNova;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 28px;
  }
  .cap-number{
    font-size: 76px;
    font-weight: 800;
    font-family: $fontPrincipal;
    padding-top: 24px;
    color: #fff;
  }
  &.artes {
    background-color: #C8D300 !important;
  }
  &.biologia {
    background-color: #F7A941 !important;
  }
  &.filosofia {
    background-color: #8CCAAE !important;
  }
  &.fisica {
    background-color: #F7A941 !important;
  }
  &.geografia {
    background-color: #8CCAAE !important;
  }
  &.historia {
    background-color: #8CCAAE !important;
  }
  &.lingua_inglesa {
    background-color: #C8D300 !important;
  }
  &.lingua_portuguesa {
    background-color: #C8D300 !important;
  }
  &.matematica {
    background-color: #F1CB40 !important;
  }
  &.producao_de_texto {
    background-color: #C8D300 !important;
  }
  &.quimica {
    background-color: #F7A941 !important;
  }
  &.sociologia {
    background-color: #8CCAAE !important;
  }
  
  
    
}