.css_01_titulo2 {

    /* Características do componente */
    display: block;
    font-family: $fonteNova;
    font-weight: 800;
    font-size: 26px;
    color: $preto;
    margin-top: 40px;
    padding: 0px 0px 0px 0px;
    text-align: left;


    /* Variações de cores */
    &.artes {
        color: $art_cor1;
    }

    &.biologia {
        color: $bio_cor1;
    }

    &.quimica {
        color: $qui_cor1;
    }

    &.fisica {
        color: $fis_cor1;
    }

    &.filosofia {
        color: #536DA7;
    }

    &.geografia {
        color: $geo_cor1;
    }


    &.historia {
        color: $his_cor1;
    }


    &.sociologia {
        color: $soc_cor1;
    }


    &.lingua_inglesa {
        color: $ing_cor1;
    }

    &.lingua_portuguesa {
        color: $por_cor1;
    }

    &.producao_de_texto {
        color: $ptx_cor1;
    }


    &.matematica {
        color: $mat_cor1;
    }

}



