.css_07_secao_por_dentro_da_arte {
  height: 40px;
  margin: 40px 0px 8px 0px;
  position: relative;

  .tag {
    height: 40px;
    background: #3F1F71;
    border: 3px solid #64428C;
    line-height: 35px;
    padding: 0 16px;
    font-family: $fonteNova;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    width: auto;
    float: left;
    z-index: 2;
    position: relative;
    box-sizing: border-box;
  }

  .line {
    width: 100%;
    height: 3px;
    background-color: #64428C;
    position: absolute;
    z-index: 0;
    top: 20px;
  }
}