.css_03_exercicio_alternativa_questao_resolvida_edit {
  margin-top: 16px;

  font-family: $fontPrincipal;
  font-weight: 400;
  color: #8e8e8e;
  line-height: 1.5em;
  font-size: $fontSizeQuestion;

  padding-inline-start: 41px;
}