.css_07_secao_aplicando_conhecimentos {
  // width: 740px;
  height: 33px;
  font-size: 20px;
  font-family: $fonteNova;
  font-weight: 700;
  color: #FFF;
  gap: 8px;
  background: transparent linear-gradient(90deg, #306E2B 0%, #45973D  100%) 0% 0% no-repeat padding-box;
  border: 3px solid #45973D;
  display: flex;
  align-items: center;
  word-break: break-word;
  padding-left: 36px;
  position: relative;
  margin: 40px 0px 16px 0px;

  &:before {
    content: '';
    background-image: url('img/aplica/css_07_secao_aplicando_conhecimentos_artes.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 100%;
    display: block;
    position: absolute;
    left: -5px;

  }

  &.artes {
    &:before {
      content: '';
      background-image: url('img/aplica/css_07_secao_aplicando_conhecimentos_artes.png') !important;
    }

    border: 3px solid #3F1F71;
    background: linear-gradient(-90deg, #3F1F71 0%, #64428C  100%) 0% 0% no-repeat padding-box !important;

  }

  &.biologia {
    &:before {
      content: '';
      background-image: url('img/aplica/css_07_secao_aplicando_conhecimentos_biologia.png') !important;
    }

    background: transparent linear-gradient(90deg, #306E2B 0%, #45973D  100%) 0% 0% no-repeat padding-box !important;
    border: 3px solid #45973D !important;
  }

  &.filosofia {
    &:before {
      background-image: url('img/aplica/css_07_secao_aplicando_conhecimentos_filosofia.png') !important;
    }

    background: linear-gradient(90deg, #536DA7 0%, #3A4C74  100%) 0% 0% no-repeat padding-box !important;
    border: 3px solid #536DA7;
  }

  &.fisica {
    &:before {
      background-image: url('img/aplica/css_07_secao_aplicando_conhecimentos_fisica.png') !important;
    }

    background: linear-gradient(90deg, #00909B 0%, #00666D  100%) 0% 0% no-repeat padding-box !important;
    border: 3px solid #00666D;
  }

  &.geografia {
    &:before {
      background-image: url('img/aplica/css_07_secao_aplicando_conhecimentos_geografia.png') !important;
    }

    background: linear-gradient(90deg, #D85509 0%, #9E2705  100%) 0% 0% no-repeat padding-box !important;
    border: 3px solid #9E2705;
  }

  &.historia {
    &:before {
      background-image: url('img/aplica/css_07_secao_aplicando_conhecimentos_historia.png') !important;
    }

    background: linear-gradient(-90deg, #6A0F5A 0%, #951B81  100%) 0% 0% no-repeat padding-box !important;
    border: 3px solid #6A0F5A;
  }

  &.lingua_inglesa {
    &:before {
      background-image: url('img/aplica/css_07_secao_aplicando_conhecimentos_lingua_inglesa.png') !important;
    }

    background: linear-gradient(90deg, #069891 0%, #015F5B  100%) 0% 0% no-repeat padding-box !important;
    border: 3px solid #015F5B;
  }

  &.lingua_portuguesa {
    &:before {
      background-image: url('img/aplica/css_07_secao_aplicando_conhecimentos_lingua_portuguesa.png') !important;
    }

    background: linear-gradient(90deg, #C51A1B 0%, #981711  100%) 0% 0% no-repeat padding-box !important;
    border: 3px solid #981711;
  }

  &.matematica {
    &:before {
      background-image: url('img/aplica/css_07_secao_aplicando_conhecimentos_matematica.png') !important;
    }

    background: linear-gradient(90deg, #1961AC 0%, #033878  100%) 0% 0% no-repeat padding-box !important;
    border: 3px solid #033878;
  }

  &.producao_de_texto {
    &:before {
      background-image: url('img/aplica/css_07_secao_aplicando_conhecimentos_producao_de_texto.png') !important;
    }

    background: linear-gradient(90deg, #0F83A6 0%, #005E7C  100%) 0% 0% no-repeat padding-box !important;
    border: 3px solid #005E7C;
  }

  &.quimica {
    &:before {
      background-image: url('img/aplica/css_07_secao_aplicando_conhecimentos_quimica.png') !important;
    }

    background: linear-gradient(90deg, #B80071 0%, #850343  100%) 0% 0% no-repeat padding-box !important;
    border: 3px solid #850343;
  }

  &.sociologia {
    &:before {
      background-image: url('img/aplica/css_07_secao_aplicando_conhecimentos_sociologia.png') !important;
    }

    background: linear-gradient(90deg, #C71553 0%, #8B1038  100%) 0% 0% no-repeat padding-box !important;
    border: 3px solid #8B1038;
  }
}