<div class='css_02_texto_glossario_drop'>
    <input class='toggle' type='checkbox' id>
    <label class='lbl-toggle-glossario' for>
        <div class='flex-icon'>
            <p class='collapsible-title'>Glossário</p>
        </div>
        <div class='flex-icon'>
            <img src='https://livro-digital.p4ed.com/assets/icons/lumen/arrow-down.svg' class='icon ion-md-add'>
            <img src='https://livro-digital.p4ed.com/assets/icons/lumen/arrow-up.svg' class='icon ion-md-remove'>
        </div>
    </label>
    <div class='collapsible-content-glossario'>
        <div class='content-inner'>
            <div class="txt_boxe_collapsed" doc-container="main"></div>
        </div>
    </div>
</div>